%PERSON
Paul Davison
Ed Barlow
Arthur Askey
Frodo Baggins
Charlie Chaplin
Ronald McDonald
Jerry Lee Lewis
the Student Union President
Papa Smurf
Ken Thompson
the government
Edwina Currie
Margaret Thatcher
George Bush
Dickie Davies
Anne Diamond
Bugs Bunny
%RUNNING
running
controlling
buggering up
co-ordinating
organising
%ILL
vomit
laugh
cry
weep
throw up
nausiated
want to puke my guts out
sick
want to die when I just look at you
%PATHETIC
pathetic
paltry
laughable
inneffective
useless
timewasting
%THINGS
degenerates
reprobates
idiots
street-cleaners
tiolet-cleaners
miscreants
freeloaders
drunkards
Conservative voters
incompetents
%GIVEUP
give up
fly your armies into the water
double your tax rate
go to war with me
go to war with everyone but me
sell half your land to me
burn the capital
relocate your capital
get rid of all those stupid farms
build lots of churches and start praying
wait for the black plague
let them eat cake
%SOLDIERS
troops
warriors
people
puny peasants
%RUDETHING
killing children
screwing donkeys
raping innocent peasants
stamping on ants
sleeping
drinking
sweeping the floor
banking
%POWERS
magic powers
combat powers
civilian powers
combat bonuses
armies
shrubberies
knights who say 'Ni'
%ANATOMY
private parts
face
double chin
beer gut
foot
leg
elbow
arm
head
bottom
libido
%THING{a}
{|a }bucket
{|an }oven
{|a }milling machine
{|a }vat of acid
{|a }bottomless pit
{|a }vorpal sword
{|an }abacus
{|a }large purple elephant
{|a }sheep
{|a }pig
{|an }albatross
{|a }dodo
{|an }IBM PC
%DESTROYED
destroyed
decimated
happy
holding a free rock festival
giving away all its money
committing suicide
changing its password
more careful
less cautious
a bit more bloody respectful
%THOUGHT
told me
thought
said
insisted
suspected
were certain
%DOING
drafting an army of gorillas
drafting an army of chimpanzees
running out of food
flying into the sea
headbanging all night
on the road to ruin
really being stupid
being amazingly thick
%ACTION
find your asshole
swat a fly
hit the broadside of a barn
stop a slug
kill a dead man
%MAIN
Even \PERSON could make a better job of \RUNNING your nation! \!
You really make me \ILL! \!
What a \PATHETIC nation of \THINGS you have! \!
If I were you I'd \GIVEUP. \!
You probably couldn't \ACTION with \THING/a. \!
Your \SOLDIERS are only good at \RUDETHING. \!
What a \PATHETIC collection of \POWERS you've got. \!
Go stick your \ANATOMY up \THING/a \!
Your nation should be \DESTROYED. \!
My spies \THOUGHT you were \DOING! \!
%%
